.dropdown-container {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}

.icon {
  color: var(--main-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 1.5rem;
  right: 0;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);
  visibility: hidden;
}

.item {
  padding: 0.25rem 0.75rem;
  color: var(--main-color);
  font-size: 1.15rem;
  letter-spacing: -1px;
  cursor: pointer;
}

.dropdown-container:focus .dropdown {
  visibility: visible;
}
